.sightingpage__container {
  display: flex;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.sightingpage__introtext {
  text-align: center;
  padding: 8px 12px;
}

.sightingpage__submissionform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 8px;
}

.sightingpage__button {
  width: 35ch;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sightingpage__button:hover {
  background-color: #3e8c42;
}

@media screen and (max-width: 690px) {
  .sightingpage__container {
    flex-direction: column;
  }
}
