.footer {
  background-color: rgba(0, 0, 0, 0.175);
  display: flex;
  justify-content: space-around;
}

.footer__half {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
}

.footer__righthalf {
  gap: 6px;
}

.footer__infotext {
  list-style: none;
  transform: translateX(-15%);
}

.footer__link {
  display: inline-block;
  padding: 6px;
  text-decoration: none;
  transition: all 0.15s;
}

.footer__link:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.footer__link:visited {
  color: inherit;
}

@media screen and (max-width: 500px) {
  .footer__lefthalf {
    display: none;
  }
}
