* {
  font-family: "Josefin Sans", sans-serif;
}

.landingimage {
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: grid;
  gap: 5%;
  grid-template-columns: 10fr 20fr 1fr;
  /* grid-auto-rows: minmax(40px, auto); */
  grid-template-rows: 1fr 7fr 1fr 2fr;
  overflow: hidden;
}

.landingimage__herotitle {
  font-size: 3rem;
  grid-column: 1 / span 1;
  grid-row: 1;
  text-align: center;
  font-weight: 800;
  /* color: rgb(22, 21, 23); */
  text-shadow: 0px 0px 9px rgb(220, 228, 220);
}

.landingimage__herobox {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.25);
  background-color: rgba(102, 94, 120, 0.4);
  backdrop-filter: blur(22px);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 16px;
  line-height: 1.4;
  /* font-size: 20px; */
  /* max-height: 75%; */
  /* height: 1000px; */
  border-radius: 15% 0 15% 0;
  height: auto;
  font-size: 100%;
}

.landingimage__herotext {
  /* color: rgb(212, 176, 237); */
  /* width: 90%; */
}

.landingimage__herotext > p {
  font-size: large;
}

.landingimage__herotextbuttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.landingimage__herotextbuttons > Button {
}

@media screen and (max-width: 690px) {
  .landingimage__herobox {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    transform: translateX(5%);
  }
}

@media screen and (max-width: 400) {
  .landingimage__herobox {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    transform: translateX(5%);
  }
}
